/* styling for Poudre Portal */

/*set up container for footer */
.container-all {
  padding: 0px;
  position: relative;
  min-height: 100vh;
  padding-bottom: 25rem;
}

/* edit footer for mobile */
@media only screen and (max-width: 768px) {
  .container-all {
    padding-bottom: 600px !important;
  }
  
  .site-footer {
    height: 600px !important;
  }

}



/* -------------------------------------------*/
/* Homepage style */

/* 'banner' image on homepage */
.heading-container {
  display: flex;
  width: -webkit-fill-available;
  margin-top: -2em;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #000000;
}

img.fire-banner {
  width: 100%;
  height: 100%;
  margin-top: 0.7em;
  opacity: 0.7;
}


.foreground-content {
    position: absolute;
    /*top: 20%; */
    width: 70vh;
    /*height: 20%;*/
    padding-left: 2%;
    padding-top: 25%;
    justify-content: left;
}


h2.header-text {
  color: white;
  font-size: 300%;
  text-shadow: 2px 2px 1px #000000;
}

.heading-about {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

p.header-text {
  color: #f28e35;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 1px #00000063;
}

/* adapt font size on mobile */
@media only screen and (max-width: 1145px) {
  h2.header-text {
    font-size: 180% !important;
  }
  
  /*p.header-text {
    font-size: 100% !important;
  }*/
  
  .foreground-content {
    width: 80% !important;
    padding-top: 0% !important;
  }
  
}



/* edit section text */
h5.home {
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 4px 7px 4px 8px;
  margin: 30px;
}


/* set up interactive tool cards */
.row-tools {
  display: grid;
  grid-column-gap: 8%;
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-right: 15%;
  margin-left: 15%;
  justify-items: center;
}


/* make cards adapt to colum on mobile */
@media only screen and (max-width: 768px) {
  .row-tools{
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1em;
    grid-row-gap: 10px;
  }
}

/* column size/properies for card content */
.col-tools{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #02020280;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

/* make image fit to card */
.img-tools {
  width: 100%;
  height: 100%;
}

/* interactive button properties */
#button_data, #button_weather {
    color: black;
    background-color: #d9782de0;
    border-color: #d9782de0;
    font-weight: 500;
    margin: 10px;
    box-shadow: 8px 8px 8px 5px #0000006b;
    width: 80%;
}

#button_data:hover, #button_weather:hover {
  background-color:#b54f00;
  transition: 0.7s;
}


/* data stream column cards */

.row-data {
  display: grid;
 /* grid-column-gap: 8%; */
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-right: 15%;
  margin-left: 15%;
  justify-content: center;
  justify-items: center;
}

/* make cards adapt to colum on mobile */
@media only screen and (max-width: 768px) {
  .row-data{
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1em;
    grid-row-gap: 10px;
    justify-items: center;
    justify-content: center;
  }
}

/* column size/properies for card content */
.col-data{
  display: flex;
  flex-direction: column;
  /*border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #02020280;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 20em;
}

/* make image fit to card */
.img-data {
  width: 50%;
}

/* edit text under data cards */
#p-usgs {
  margin-top: 46.78px;
}
.img-data#img-usgs {
  margin-top: 46.78px;
}

#p-noaa {
  margin-top: 5px;
}
.img-data#img-noaa {
  margin-top: 5px;
}

#p-usda {
  margin-top: 24.46px;
}
.img-data#img-usda {
  margin-top: 24.46px;
}


/* edit buttons for data links */
#button_usgs, #button_noaa, #button_usda {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: black;
  background-color: #c8c3728f;
  border-color: #c8c3728f;
  font-weight: 500;
  margin: 10px;
  box-shadow: 8px 8px 8px 5px #0000006b;
}

#button_usga:hover, #button_noaa:hover, #button_usda:hover {
  background-color:#b1ac67;
  transition: 0.7s;
}


/* set up photos for reserchers section */

.row-researchers {
  display: grid;
 /* grid-column-gap: 8%; */
  grid-template-columns: repeat(2, 1fr);
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-right: 15%;
  margin-left: 15%;
  justify-items: center;
}

/* make cards adapt to colum on mobile */
@media only screen and (max-width: 768px) {
  .row-researchers{
    display: grid;
    grid-template-columns: 1fr !important;
    padding: 1em;
    grid-row-gap: 10px;
  }
}

/* column size/properies for card content */
.col-researchers{
  display: flex;
  flex-direction: column;
  /*border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px #02020280;*/
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

/* make image fit to card */
.img-researchers {
  width: 50%;
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px #02020280;
}

/* edit resercher buttons */
#button_ross, #button_kampf, #button_rhoades, #button_cofc {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: black;
  background-color: #c8c3728f;
  border-color: #c8c3728f;
  font-weight: 500;
  margin: 10px;
  box-shadow: 8px 8px 8px 5px #0000006b;

}

#button_ross:hover, #button_kampf:hover, #button_rhoades:hover, #button_cofc:hover {
  background-color:#b1ac67;
  transition: 0.7s;
}

/* ----------------------------------------------*/
/* General site-wide style/


/* color p text in weather app panel */
p.p-sent {
  color: black !important;
}

/* Make selection labels bold*/
label.control-label {
        font-size: 15px;
        font-weight: bold;
      }
      
/* Edit play/pause button on Time animation*/
i.glyphicon.glyphicon-play {
    color: #e1210d; 
    line-height: 2}
i.glyphicon.glyphicon-pause {
    color: #e1210d; 
    line-height: 2}
    
 /* Customize color of dropdown source selection to match map colors*/   
a#bs-select-1-0.dropdown-item {
color: #d92809}
a#bs-select-1-1.dropdown-item {
color: #f5a04c}
a#bs-select-1-2.dropdown-item {
color: #fff83b}
a#bs-select-1-3.dropdown-item {
color: #88db7d}
a#bs-select-1-4.dropdown-item {
color: #1c73a6}
a#bs-select-1-5.dropdown-item {
color: black}
a#bs-select-1-6.dropdown-item {
color: #b3b3b3}

a#bs-select-2-0.dropdown-item {
color: #d92809}
a#bs-select-2-1.dropdown-item {
color: #f5a04c}
a#bs-select-2-2.dropdown-item {
color: #fff83b}
a#bs-select-2-3.dropdown-item {
color: #88db7d}
a#bs-select-2-4.dropdown-item {
color: #1c73a6}


/* Change legend icons to circles instead of squares*/
div.info.legend.leaflet-control i{
  border-radius: 50%;
  opacity: 1 !important
}


/* make sliders CSU green */
.irs-from, .irs-to, .irs-bar, .irs-single {
  background-color: #1E4D2B !important;
  border: #1E4D2B !important;
}

/* make single sliders transparent before selection */
.irs-bar.irs-bar--single {
  opacity: 0% !important;
}

.irs-handle {
  background-color: #1E4D2B !important;
  border: #1E4D2B !important;
}

/* reduce white space between plots...not sure if this is working*/
.form-group {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
          }
          
.checkbox {margin: 0}
.checkbox p {margin: 0;}
.shiny-input-container {margin-bottom: 0;}

.selectize-control {margin-bottom: 0px;}


/* footer styling */
.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:#1E4D2B;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.row#footer h6, p {
  color: white;
}

.row#footer h6 {
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}


.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block;
}

.footer-links.inline li {
  display: inline-block;
}

img.footer-logo {
  width: 100%;
  margin: 5px;
}

img.footer-logo#centroid-logo {
  width: 60%;
}

.copyright-text {
  color: #737373 !important;
}